@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

h1 {
    font-size: 55px;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 644px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.3;
    background-size: max(1200px, 100vw);
}

body {
    background-color: black;
}

.separation {
    width: 100vw;
    height: 6px;
    background-color: rgb(49, 49, 49);
    /* position: absolute; */
}

.navbar {
    display: flex;
    position: relative;
    top: -620px;
    justify-content: space-between;
    width: 81vw;
    margin: auto;
}

.navbar img {
    width: 150px
}

.box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100px;
    gap: 10px;
    margin: auto;
    position: absolute;
    top: 350px
}

.bten {
    background-color: black;
    border: 1px solid rgb(91, 90, 90);
    /* padding: 7px; */
    width: 150px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    height: 33px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btsi {
    background-color: red;
    border-radius: 5px;
    border: 1px solid red;
    width: 80px;
    height: 33px;
    font-size: 17px;
    color: white;
    margin: 10px
}

.btem {
    background-color: black;
    border: 1px solid rgb(91, 90, 90);
    padding-left: 15px;
    width: 300px;
    border-radius: 5px;
    color: rgb(159, 153, 153);
    font-size: 20px;
    height: 50px;
    text-align: left
        /* justify-content: center; */
        /* align-items: center; */
}

.btgs {
    width: 180px;
    background-color: red;
    border: red;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;

}

.first {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
}

.first img {
    width: 550px;
}

.first div {
    display: flex;
    position: relative;
}

.text {
    flex-direction: column;
}

.ftvvideo {
    position: absolute;
    top: 86px;
    right: 78px;
    z-index: -10;
    width: 400px;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }

    .first div {
        text-align: center;
    }

    .first img {
        width: 350px;
    }

    .ftvvideo {
        position: absolute;
        top: 55px;
        right: 49px;
        z-index: -10;
        width: 255px;
    }

}

@media screen and (max-width:500px) {

    .bten {
        background-color: black;
        border: 1px solid rgb(91, 90, 90);
        /* padding: 7px; */
        width: 120px;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        height: 33px;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btsi {
        background-color: red;
        border-radius: 5px;
        border: 1px solid red;
        width: 50px;
        height: 33px;
        font-size: 12px;
        color: white;
        margin: 3px
    }

    .btem {
        background-color: black;
        border: 1px solid rgb(91, 90, 90);
        padding-left: 15px;
        width: 230px;
        border-radius: 5px;
        color: rgb(159, 153, 153);
        font-size: 15px;
        height: 50px;
        text-align: left
            /* justify-content: center; */
            /* align-items: center; */
    }

    .btgs {
        width: 150px;
        background-color: red;
        border: red;
        border-radius: 5px;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: 500;

    }

    .navbar img {
        width: 90px
    }

}

@media screen and (max-width:400px) {
    .bten {
        background-color: black;
        border: 1px solid rgb(91, 90, 90);
        /* padding: 7px; */
        width: 80px;
        border-radius: 5px;
        color: white;
        font-size: 10px;
        height: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btsi {
        background-color: red;
        border-radius: 5px;
        border: 1px solid red;
        width: 40px;
        height: 30px;
        font-size: 10px;
        color: white;
        margin: 3px
    }

    .btem {
        background-color: black;
        border: 1px solid rgb(91, 90, 90);
        padding-left: 15px;
        width: 200px;
        border-radius: 5px;
        color: rgb(159, 153, 153);
        font-size: 13px;
        height: 40px;
        text-align: left
            /* justify-content: center; */
            /* align-items: center; */
    }

    .btgs {
        width: 130px;
        background-color: red;
        border: red;
        border-radius: 5px;
        height: 40px;
        color: white;
        font-size: 13px;
        font-weight: 500;

    }

    .navbar img {
        width: 70px
    }

    h1 {}
}


.lower {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    gap: 30px;

}

.lower h1 {
    font-size: 55px;
    text-align: center;
}

.lower .block {
    transition: all 1s ease-out;

    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 65, 65);
    height: 40px;
    width: 70vw;
    padding: 15px;
    text-justify: center;
    margin-bottom: 20px;
}

.plus {
    color: white;
    background-attachment: white;
}

footer {
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    /* margin-left: auto; */
    gap: 10px;
    place-items: center;
    margin-inline: auto
}

footer div a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer div {
    justify-content: center;
    align-items: center;
    text-align: center;

}

@media screen and (max-width:1300px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:500px) {
    h1 {
        font-size: 37;
    }

    .lower .block {
        font-size: 20px;
    }

    .box {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .lower .block {
        font-size: 17px;
    }
}

.block:hover{
    background-color: rgb(127, 127, 127);
}